{% load staticfiles %}

<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>
		{% block title %}
			Madplan
		{% endblock title %}
	</title>
</head>
<body>
	<div id="global">
		<header>
			<ul>
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'about' %}">About</a></li>
				<li><a href="{% url 'contact' %}">Contact</a></li>
				{% if user.is_authenticated %}
					<li><a href="{% url 'auth_logout' %}">Logout</a></li>
				{% else %}
					<li><a href="{% url 'auth_login' %}">Login</a></li>
					<li><a href="{% url 'registration_register' %}">Register</a></li>
				{% endif %}

			</ul>
		</header>
		<h1>
			{% block header %}
				welcome!
			{% endblock header %}
		</h1>
		<p>{% block content %}{% endblock content %}</p>
	</div>
</body>
</html>